body{
    background-color: #000000;
    cursor: none;
}

.tulisan{
    color: rgba(255,255,255,1);
    font-size: 42px;
    margin: 0 auto;
    text-align: center;
    font-weight: bold;
    text-transform: uppercase;
    font-family: 'Open Sans', sans-serif;
    margin-top: 300px;
    word-spacing: 50px;
    letter-spacing: 30px;
}

.effect{
    animation: 2s fadein cubic-bezier(1,-0.04, 1, 1);
}

@-webkit-keyframes fadein{
    0%{
        opacity: 0;
        
    }
    80%{
        opacity: 1;
        font-size: 42px;
    }
}